<form method="Post" action="{{ path('driver_delete', {'id': driver.id}) }}" onsubmit="return confirm('Сигурен ли сте,че искате да изтриете този запис?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ driver.id) }}">
    <button class="btn btn-danger">Изтрий</button>
</form>
