{% extends 'base.html.twig' %}

{% block title %}New Driver{% endblock %}

{% block body %}
    <h1>Добави Шофьор</h1>

   {{ include('driver/_form.html.twig') }}

    <a href="{{ path('driver_index') }}">Назад</a>
{% endblock %}
